body {text-align: center;}

div.h1{font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;}


div {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/mocks/broadway.png");
text-align: center;
font-family: Helvetica;
font-size: 18px;
color: white;}

h2 {font-family: helvetica;
font-size: 32px;
font-weight: bold;
}

h3 {font-family: helvetica;
font-size: 23px;
font-weight: bold;}

h4 {font-family: helvetica;
font-size: 14px;}
